<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Programmer Fox Club</title>
</head>
<body>
  <ul>
    <li><a href="/">Information</a></li>
    <li><a href="nutritionstore.html">Nutrition Store</a></li>
    <li><a href="trickcenter.html">Trick Center</a></li>
  </ul>
  <p th:text="'Tricks'"></p>
  <span th:if="${fox.getToLearnTrickListSize() == 0}">There are no tricks to learn.</span>
  <span th:if="${fox.getToLearnTrickListSize() > 0}">
  <form action="/addtrick">
  <input list="trick" name="trick"/>
    <datalist id="trick">
    <option th:each="tricks : ${fox.toLearnTrickList}" th:value="${tricks}"/>
    </datalist>
  <input th:type="submit" value="Learn"/>
  </form>
  </span>
</body>
</html>